name: Auto Post Anime Updates

on:
  schedule:
    # Runs every 6 hours (Adjust as needed)
    - cron: '0 */6 * * *'
  workflow_dispatch: # Allows you to run it manually button click to test

jobs:
  run-scraper:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Scraper Script
        run: python autopost.py
